<!DOCTYPE html>
<link rel="stylesheet" href="../css/STYLES.CSS">
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inmobiliaria Bella vista</title>



</head>


<body>




    <header>
        <!--LOGO DE LA PAGINA, MENU DE NAVEGACIÓN, REDES SOCIALES-->
        <div class="img1">
            <a href="../index.html" class="img1"><img src=../Assets/Bella.jpg alt="Logo" class="img1"></a>
        </div>
        <div class="menunavegacion">
            <a class="inicio" href="../index.html">Inicio</a>
            <a class="navegacion" href=../index.html#contenedor>Propiedades</a>
            <a class="navegacion" href=../index.html#qsomos>Quienes somos </a>
            <a class="contacto" href=../index.html#contacto1>Contacto</a>
        </div>
        <div class="redessociales">
            <img src=../Assets/facebook.png alt="Facebook" style="width: 25px; height: 25px;" class="fb">
            <img src=../Assets/ig.png alt="Instagram" style="width: 25px; height: 25px;" class="fb">
            <img src=../Assets/x.png alt="X" style="width: 25px; height: 25px;" class="fb">
            <img src=../Assets/wsp.png alt="Whatsapp" style="width: 25px; height: 25px;" class="fb">
        </div>
    </header>

    <main>
        <h2 class="titulosalquileres">COMPRA</h2>
        <div>
            <div class="formularioalquileres">
                <form action="">
                    <div class="formalquileres">
                        <label for="tipopropiedad" class="busquedaalquileres">Tipo de propiedad</label>
                        <select id="" name="" class="selectoralquileres">
                            <option value="Casa">Casa</option>
                            <option value="Departamento">Departamento</option>
                        </select>

                        <label for="Localidad" class="busquedaalquileres">Localidad</label>
                        <select id="" name="" class="selectoralquileres">
                            <option value="Ciudad">Ciudad</option>
                            <option value="Godoy Cruz">Godoy Cruz</option>
                            <option value="Guaymallén">Guaymallén</option>
                            <option value="Las Heras">Las Heras</option>
                            <option value="Lujan de Cuyo">Lujan de Cuyo</option>
                            <option value="Maipú">Maipú</option>
                        </select>

                        <label for="Habitaciones" class="busquedaalquileres">Habitaciones</label>
                        <select id="" name="" class="selectoralquileres">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4 o más">4 o más</option>
                        </select>
                        <label for="Rango de precios" class="busquedaalquileres">Rango de precios</label>
                        <select name="" id="" class="selectoralquileres">
                            <option value="rango1">US$ 0 a US$ 200</option>
                            <option value="rango1">US$ 200 a US$ 300</option>
                            <option value="rango1">US$ 300 a US$ 400</option>
                            <option value="rango1">US$ 400 o más </option>

                        </select>
                    </div>



                </form>
            </div>
        </div>
        <div class="contenedoralquileres">
            <div class="contenedoralquileres2">
                <div class="contenedorimagenes">
                    <img src="../Assets/casa2.jpg" alt="Casa2" class="casa2" id="casa1">
                    <h1 class="precio">US$ 450</h1>
                    <h2 class="ubicacion">Casa</h2>
                    <h3 class="ubicacion">Luján de Cuyo</h3>
                    <p class="descripcion">Elegante y privada, con una
                        sensación de serenidad que evoca la vida en una hacienda. <br></p>
                    <p class="detalleinterno"><b>2 Dormitorios | 1 Baño | Cochera | 100 m<sup>2</sup></b></p>

                </div>
                <div class="contenedorimagenes">
                    <img src="../Assets/casa3.jpg" alt="" class="casa2">
                    <h1 class="precio">US$ 400</h1>
                    <h2 class="ubicacion">Casa</h2>
                    <h3 class="ubicacion">Maipú</h3>
                    <p class="descripcion">Tranquilidad rural, jardines serenos y rincones para relajarse.
                    </p>
                    <p class="detalleinterno"><b>3 Dormitorios | 1 Baño | Patio | 150 m<sup>2</sup></b></p>
                </div>
                <div class="contenedorimagenes">
                    <img src="../Assets/casa4.jpeg" alt="" class="casa2">
                    <h1 class="precio">US$ 400</h1>
                    <h2 class="ubicacion">Casa</h2>
                    <h3 class="ubicacion">Ciudad</h3>
                    <p class="descripcion">Diseño contemporáneo con líneas limpias y grandes ventanales </p>
                    <p class="detalleinterno"><b>2 Dormitorios | 1 Baño | Cochera | 130 m<sup>2</sup></b></p>
                </div>

            </div>
            </section>

            <section>


                <div class="contenedoralquileres">
                    <div class="contenedoralquileres2">
                        <div class="contenedorimagenes">
                            <img src="../Assets/Departamento1.jpg" alt="Casa2" class="casa2">
                            <h1 class="precio">US$ 250</h1>
                            <h2 class="ubicacion">Departamento</h2>
                            <h3 class="ubicacion">Las Heras</h3>
                            <p class="descripcion"> Espacio moderno y tranquilo con enfoque en la simplicidad.
                            </p>
                            <p class="detalleinterno"><b>1 Dormitorio | 1 Baño | Balcón | 70 m<sup>2</sup></b></p>
                        </div>
                        <div class="contenedorimagenes">
                            <img src="../Assets/Departamento2.jpg" alt="" class="casa2">
                            <h1 class="precio">US$ 300</h1>
                            <h2 class="ubicacion">Departamento</h2>
                            <h3 class="ubicacion">Godoy Cruz</h3>
                            <p class="descripcion">Privacidad y tranquilidad con patios interiores y toques
                                contemporáneos.
                            </p>
                            <p class="detalleinterno"><b>2 Dormitorios | 1 Baños | Cochera | 80 m<sup>2</sup></b></p>
                        </div>
                        <div class="contenedorimagenes">
                            <img src="../Assets/Departamento3.jpg" alt="" class="casa2">
                            <h1 class="precio">US$ 200</h1>
                            <h2 class="ubicacion">Departamento</h2>
                            <h3 class="ubicacion">Guaymallén</h3>
                            <p class="descripcion">Ambiente costero, colores claros y acceso directo a la playa.
                            </p>
                            <p class="detalleinterno"><b>1 Dormitorio | 1 Baño | Cochera | 60 m<sup>2</sup></b></p>
                        </div>

                    </div>
            </section>



            <section>
                <div class="contenedoralquileres">
                    <div class="contenedoralquileres2">
                        <div class="contenedorimagenes">
                            <img src="../Assets/casa8.jpg" alt="Casa2" class="casa2">
                            <h1 class="precio">US$ 300</h1>
                            <h2 class="ubicacion">Casa</h2>
                            <h3 class="ubicacion">Guaymallén</h3>
                            <p class="descripcion">Encanto histórico con techos altos y porches amplios.</p>
                            <p class="detalleinterno"><b>1 Dormitorio | 1 Baño | Patio | 120 m<sup>2</sup></b></p>
                        </div>
                        <div class="contenedorimagenes">
                            <img src="../Assets/casa9.jpg" alt="" class="casa2">
                            <h1 class="precio">US$ 420</h1>
                            <h2 class="ubicacion">Casa</h2>
                            <h3 class="ubicacion">Godoy Cruz</h3>
                            <p class="descripcion">Vanguardia y luminosidad en diseño contemporáneo. </p>
                            <p class="detalleinterno"><b>3 Dormitorios | 2 Baños | Cochera | 200 m<sup>2</sup></b></p>
                        </div>
                        <div class="contenedorimagenes">
                            <img src="../Assets/casa10.jpg" alt="" class="casa2">
                            <h1 class="precio">US$ 400</h1>
                            <h2 class="ubicacion">Casa</h2>
                            <h3 class="ubicacion">Ciudad</h3>
                            <p class="descripcion">Elegancia moderna con grandes ventanales y conexión perfecta
                                con el
                                entorno. </p>
                            <p class="detalleinterno"><b>2 Dormitorios | 1 Baño | Cochera | 180 m<sup>2</sup></b></p>
                        </div>

                    </div>
            </section>
            <section>
                <div class="contenedoralquileres">
                    <div class="contenedoralquileres2">
                        <div class="contenedorimagenes">
                            <img src="../Assets/Departamento4.jpg" alt="Casa2" class="casa2">
                            <h1 class="precio">US$ 190</h1>
                            <h2 class="ubicacion">Departamento</h2>
                            <h3 class="ubicacion">Ciudad</h3>
                            <p class="descripcion">Privacidad y elegancia, patios interiores y diseño
                                contemporáneo.
                            </p>
                            <p class="detalleinterno"><b>2 Dormitorios | 1 Baño | Cochera | 70 m<sup>2</sup></b></p>
                        </div>
                        <div class="contenedorimagenes">
                            <img src="../Assets/Departamento6.jpg" alt="" class="casa2">
                            <h1 class="precio">US$ 210</h1>
                            <h2 class="ubicacion">Departamento</h2>
                            <h3 class="ubicacion">Maipú</h3>
                            <p class="descripcion">Estilo industrial, espacios abiertos y atmósfera cosmopolita.
                            </p>
                            <p class="detalleinterno"><b>1 Dormitorios | 1 Baño | Patio | 50 m<sup>2</sup></b></p>
                        </div>
                        <div class="contenedorimagenes">
                            <img src="../Assets/Departamento7.jpg" alt="" class="casa2">
                            <h1 class="precio">US$ 200</h1>
                            <h2 class="ubicacion">Departamento</h2>
                            <h3 class="ubicacion">Las Heras</h3>
                            <p class="descripcion">Rusticidad y calidez con toques en madera y piedra. </p>
                            <p class="detalleinterno"><b>1 Dormitorios | 1 Baño | Cochera | 40 m<sup>2</sup></b></p>
                        </div>

                    </div>
            </section>

        </div>

        </div>


    </main>

    <footer class="footer">
        <!-- PIE DE PAGINA - SIMILAR A HEADER-->


        <div class="img2">
            <img src=../Assets/Bella2.jpg alt="Logo" class="img2">
        </div>
        <div class="textopie">
            <p class="navpie1">9 de Julio 1160 - Mendoza - Argentina <br>Teléfono / Whatsapp: 261-12345678 <br>E-Mail:
                inmobiliariabellavista@gmail.com </p>
        </div>
        <div class="navpiediv">
            <a class="navpie" href=../index.html>Inicio</a>
            <a class="navpieprop" href=../index.html#contenedor>Propiedades</a>
            <a class="navpieprop" href=../index.html#qsomos>Quienes somos </a>
            <a class="navpiecont" href=../index.html#contacto1>Contacto</a>
        </div>
        <div class="iconospie">
            <img src=../Assets/facebook.png alt="Facebook" style="width: 25px; height: 25px;" class="fb1">
            <img src=../Assets/ig.png alt="Instagram" style="width: 25px; height: 25px;" class="fb1">
            <img src=../Assets/x.png alt="X" style="width: 25px; height: 25px;" class="fb1">
            <img src=../Assets/wsp.png alt="Whatsapp" style="width: 25px; height: 25px;" class="fb1"> 
        </div>
    </footer>
</body>

</html>