<!DOCTYPE html>
<link rel="stylesheet" href="../css/STYLES.CSS">
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inmobiliaria Bella vista</title>



</head>


<body>




    <header>
        <!--LOGO DE LA PAGINA, MENU DE NAVEGACIÓN, REDES SOCIALES-->
        <div class="img1">
            <a href="../index.html" class="img1"><img src=../Assets/Bella.jpg alt="Logo" class="img1"></a>
        </div>
        <div class="menunavegacion">
            <a class="inicio" href="../index.html">Inicio</a>
            <a class="navegacion" href=../index.html#contenedor>Propiedades</a>
            <a class="navegacion" href=../index.html#qsomos>Quienes somos </a>
            <a class="contacto" href="contacto.html">Contacto</a>
        </div>
        <div class="redessociales">
            <img src=../Assets/facebook.png alt="Facebook" style="width: 25px; height: 25px;" class="fb">
            <img src=../Assets/ig.png alt="Instagram" style="width: 25px; height: 25px;" class="fb">
            <img src=../Assets/x.png alt="X" style="width: 25px; height: 25px;" class="fb">
            <img src=../Assets/wsp.png alt="Whatsapp" style="width: 25px; height: 25px;" class="fb">
        </div>
    </header>

    <main>
        <h2 class="titulosalquileres">COMPRA</h2>
        <div>
            <div class="formularioalquileres">
                <form action="">
                    <div class="formalquileres">
                        <label for="tipopropiedad" class="busquedaalquileres">Tipo de propiedad</label>
                        <select id="" name="" class="selectoralquileres">
                            <option value="Casa">Casa</option>
                            <option value="Departamento">Departamento</option>
                        </select>

                        <label for="Localidad" class="busquedaalquileres">Localidad</label>
                        <select id="" name="" class="selectoralquileres">
                            <option value="Ciudad">Ciudad</option>
                            <option value="Godoy Cruz">Godoy Cruz</option>
                            <option value="Guaymallén">Guaymallén</option>
                            <option value="Las Heras">Las Heras</option>
                            <option value="Lujan de Cuyo">Lujan de Cuyo</option>
                            <option value="Maipú">Maipú</option>
                        </select>

                        <label for="Habitaciones" class="busquedaalquileres">Habitaciones</label>
                        <select id="" name="" class="selectoralquileres">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4 o más">4 o más</option>
                        </select>
                        <label for="Rango de precios" class="busquedaalquileres">Rango de precios</label>
                        <select name="" id="" class="selectoralquileres">
                            <option value="rango1">US$ 10.000 a US$ 20.000</option>
                            <option value="rango1">US$ 20.000 a US$ 30.000</option>
                            <option value="rango1">US$ 30.000 a US$ 40.000</option>
                            <option value="rango1">US$ 40.000 o más </option>

                        </select>
                    </div>



                </form>
            </div>
        </div>
        <div class="contenedoralquileres">
            <div class="contenedoralquileres2">
                <div class="contenedorimagenes">
                    <img src="../Assets/compra/casa12.jpg" alt="Casa2" class="casa2" id="casa1">
                    <h1 class="precio">US$ 45.000</h1>
                    <h2 class="ubicacion">Casa</h2>
                    <h3 class="ubicacion">Luján de Cuyo</h3>
                    <p class="descripcion">Casa de 3 dormitorios y 2 baños. Paneles solares, jardín con huerto
                        y diseño sostenible. Ideal para una vida autosuficiente. <br></p>
                    <p class="detalleinterno"><b>2 Dormitorios | 1 Baño | Cochera | 100 m<sup>2</sup></b></p>

                </div>
                <div class="contenedorimagenes">
                    <img src="../Assets/compra/casa13.jpg" alt="" class="casa2">
                    <h1 class="precio">US$ 20.000</h1>
                    <h2 class="ubicacion">Casa</h2>
                    <h3 class="ubicacion">Maipú</h3>
                    <p class="descripcion">Casa colonial de 4 dormitorios y 3 baños en una tranquila calle arbolada.
                        Techos altos, cocina amplia y jardín privado. Ideal para familias.
                    </p>
                    <p class="detalleinterno"><b>3 Dormitorios | 1 Baño | Patio | 150 m<sup>2</sup></b></p>
                </div>
                <div class="contenedorimagenes">
                    <img src="../Assets/compra/casa11.jpg" alt="" class="casa2">
                    <h1 class="precio">US$ 30.000</h1>
                    <h2 class="ubicacion">Casa</h2>
                    <h3 class="ubicacion">Ciudad</h3>
                    <p class="descripcion">Casa céntrica de 3 dormitorios y 2 baños. Cocina moderna, amplio salón y
                        patio. Cercana a colegios, tiendas y parques. </p>
                    <p class="detalleinterno"><b>2 Dormitorios | 1 Baño | Cochera | 130 m<sup>2</sup></b></p>
                </div>

            </div>
            </section>

            <section>


                <div class="contenedoralquileres">
                    <div class="contenedoralquileres2">
                        <div class="contenedorimagenes">
                            <img src="../Assets/compra/Departamento8.jpg" alt="Casa2" class="casa2">
                            <h1 class="precio">US$ 30.000</h1>
                            <h2 class="ubicacion">Departamento</h2>
                            <h3 class="ubicacion">Las Heras</h3>
                            <p class="descripcion"> Lujoso departamento de 3 dormitorios y 3 baños en zona exclusiva.
                                Cocina gourmet, amplio salón y balcón con vistas espectaculares. Edificio con piscina y
                                gimnasio.
                            </p>
                            <p class="detalleinterno"><b>1 Dormitorio | 1 Baño | Balcón | 70 m<sup>2</sup></b></p>
                        </div>
                        <div class="contenedorimagenes">
                            <img src="../Assets/compra/Departamento9.jpg" alt="" class="casa2">
                            <h1 class="precio">US$ 30.000</h1>
                            <h2 class="ubicacion">Departamento</h2>
                            <h3 class="ubicacion">Godoy Cruz</h3>
                            <p class="descripcion">Departamento amueblado de 2 dormitorios y 1 baño. Cocina equipada,
                                salón con muebles modernos y balcón. Ideal para mudanza inmediata.
                            </p>
                            <p class="detalleinterno"><b>2 Dormitorios | 1 Baños | Cochera | 80 m<sup>2</sup></b></p>
                        </div>
                        <div class="contenedorimagenes">
                            <img src="../Assets/compra/Departamento10.jpg" alt="" class="casa2">
                            <h1 class="precio">US$ 25.000</h1>
                            <h2 class="ubicacion">Departamento</h2>
                            <h3 class="ubicacion">Guaymallén</h3>
                            <p class="descripcion">Departamento de 3 dormitorios y 2 baños. Cocina equipada, salón
                                amplio y balcón. Edificio con piscina, gimnasio y área de juegos para niños.
                            </p>
                            <p class="detalleinterno"><b>1 Dormitorio | 1 Baño | Cochera | 60 m<sup>2</sup></b></p>
                        </div>

                    </div>
            </section>



            <section>
                <div class="contenedoralquileres">
                    <div class="contenedoralquileres2">
                        <div class="contenedorimagenes">
                            <img src="../Assets/compra/casa5.jpg" alt="Casa2" class="casa2">
                            <h1 class="precio">US$ 20.000</h1>
                            <h2 class="ubicacion">Casa</h2>
                            <h3 class="ubicacion">Guaymallén</h3>
                            <p class="descripcion">Casa de 2 dormitorios y 1 baño, con cocina equipada y pequeño jardín.
                                Ubicada en un vecindario tranquilo y cercano a tiendas y transporte. Ideal para parejas
                                o personas solas.</p>
                            <p class="detalleinterno"><b>1 Dormitorio | 1 Baño | Patio | 120 m<sup>2</sup></b></p>
                        </div>
                        <div class="contenedorimagenes">
                            <img src="../Assets/compra/casa6.jpg" alt="" class="casa2">
                            <h1 class="precio">US$ 54.000</h1>
                            <h2 class="ubicacion">Casa</h2>
                            <h3 class="ubicacion">Godoy Cruz</h3>
                            <p class="descripcion">Moderna casa de 4 dormitorios y 3 baños en un exclusivo barrio
                                privado. Cocina equipada, amplio salón, terraza y jardín. Garaje para dos autos y
                                seguridad 24/7. </p>
                            <p class="detalleinterno"><b>3 Dormitorios | 2 Baños | Cochera | 200 m<sup>2</sup></b></p>
                        </div>
                        <div class="contenedorimagenes">
                            <img src="../Assets/compra/casa7.jpg" alt="" class="casa2">
                            <h1 class="precio">US$ 33.000</h1>
                            <h2 class="ubicacion">Casa</h2>
                            <h3 class="ubicacion">Ciudad</h3>
                            <p class="descripcion">Casa de 3 dormitorios y 2 baños, con cocina moderna, salón amplio y
                                jardín privado. Ubicada en un vecindario familiar cerca de colegios y parques. Perfecta
                                para una familia. </p>
                            <p class="detalleinterno"><b>2 Dormitorios | 1 Baño | Cochera | 180 m<sup>2</sup></b></p>
                        </div>

                    </div>
            </section>
            <section>
                <div class="contenedoralquileres">
                    <div class="contenedoralquileres2">
                        <div class="contenedorimagenes">
                            <img src="../Assets/compra/departamento11.jpg" alt="Casa2" class="casa2">
                            <h1 class="precio">US$ 22.000</h1>
                            <h2 class="ubicacion">Departamento</h2>
                            <h3 class="ubicacion">Ciudad</h3>
                            <p class="descripcion">Departamento moderno de 2 dormitorios y 1 baño en el centro. Edificio con ascensor y
                                seguridad.
                            </p>
                            <p class="detalleinterno"><b>2 Dormitorios | 1 Baño | Cochera | 70 m<sup>2</sup></b></p>
                        </div>
                        <div class="contenedorimagenes">
                            <img src="../Assets/compra/departamento12.jpg" alt="" class="casa2">
                            <h1 class="precio">US$ 21.000</h1>
                            <h2 class="ubicacion">Departamento</h2>
                            <h3 class="ubicacion">Maipú</h3>
                            <p class="descripcion">Departamento de 2 dormitorios y 1 baño con vista al parque. Cocina
                                moderna, salón luminoso y balcón. Edificio con gimnasio y seguridad.
                            </p>
                            <p class="detalleinterno"><b>1 Dormitorios | 1 Baño | Patio | 50 m<sup>2</sup></b></p>
                        </div>
                        <div class="contenedorimagenes">
                            <img src="../Assets/compra/Departamento13.jpg" alt="" class="casa2">
                            <h1 class="precio">US$ 30.000</h1>
                            <h2 class="ubicacion">Departamento</h2>
                            <h3 class="ubicacion">Las Heras</h3>
                            <p class="descripcion">Departamento familiar de 3 dormitorios y 2 baños. Cocina equipada,
                                salón amplio y balcón. Cercano a colegios y parques. </p>
                            <p class="detalleinterno"><b>1 Dormitorios | 1 Baño | Cochera | 40 m<sup>2</sup></b></p>
                        </div>

                    </div>
            </section>

        </div>

        </div>


    </main>

    <footer class="footer">
        <!-- PIE DE PAGINA - SIMILAR A HEADER-->


        <div class="img2">
            <img src=../Assets/Bella2.jpg alt="Logo" class="img2">
        </div>
        <div class="textopie">
            <p class="navpie1">9 de Julio 1160 - Mendoza - Argentina <br>Teléfono / Whatsapp: 261-12345678 <br>E-Mail:
                inmobiliariabellavista@gmail.com </p>
        </div>
        <div class="navpiediv">
            <a class="navpie" href=../index.html>Inicio</a>
            <a class="navpieprop" href=../index.html#contenedor>Propiedades</a>
            <a class="navpieprop" href=../index.html#qsomos>Quienes somos </a>
            <a class="navpiecont" href="contacto.html">Contacto</a>
        </div>
        <div class="iconospie">
            <img src=../Assets/facebook.png alt="Facebook" style="width: 25px; height: 25px;" class="fb1">
            <img src=../Assets/ig.png alt="Instagram" style="width: 25px; height: 25px;" class="fb1">
            <img src=../Assets/x.png alt="X" style="width: 25px; height: 25px;" class="fb1">
            <img src=../Assets/wsp.png alt="Whatsapp" style="width: 25px; height: 25px;" class="fb1">
        </div>
    </footer>
</body>

</html>