<!DOCTYPE html>
<link rel="stylesheet" href="../css/STYLES.CSS">
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <style>

    </style>


</head>


<body>

</body>



<header>
    <!--LOGO DE LA PAGINA, MENU DE NAVEGACIÓN, REDES SOCIALES-->
    <div class="img1">
    <a href="index.html" class="img1"><img src=../Assets/Bella.jpg alt="Logo" class="img1"></a>
</div>
<div class="menunavegacion">
    <a class="inicio" href="../index.html">Inicio</a>
    <a class="navegacion" href=../index.html#contenedor>Propiedades</a>
    <a class="navegacion" href=../index.html#qsomos>Quienes somos </a>
    <a class="contacto" href=../index.html#contacto1>Contacto</a>
</div>
<div class="redessociales">
    <img src=../Assets/facebook.png alt="Facebook" style="width: 25px; height: 25px;" class="fb">
    <img src=../Assets/ig.png alt="Instagram" style="width: 25px; height: 25px;" class="fb">
    <img src=../Assets/x.png alt="X" style="width: 25px; height: 25px;" class="fb">
    <img src=../Assets/wsp.png alt="Whatsapp" style="width: 25px; height: 25px;" class="fb">
</div>
</header>

<main>



</main>


<footer>
    <!-- PIE DE PAGINA - SIMILAR A HEADER-->



    <img src=../Assets/Bella2.jpg alt="Logo" class="img2">
    <p class="navpie1">9 de Julio 1160 - Mendoza - Argentina <br>Teléfono / Whatsapp: 261-12345678 <br>E-Mail:
        inmobiliariabellavista@gmail.com </p>
    <a class="navpie" href=../index.html>Inicio</a>
    <a class="navpie" href=../index.html#contenedor>Propiedades</a>
    <a class="navpie" href=../index.html#qsomos>Quienes somos </a>
    <a class="navpie" href=../index.html#contacto1>Contacto</a>
    <img src=../Assets/fb.png alt="Facebook" style="width: 25px; height: 25px;" class="fb">
    <img src=../Assets/ig.png alt="Instagram" style="width: 25px; height: 25px;" class="fb">
    <img src=../Assets/x.png alt="X" style="width: 25px; height: 25px;" class="fb">
    <img src=../Assets/wsp.png alt="Whatsapp" style="width: 25px; height: 25px;" class="fb">

</footer>