<!DOCTYPE html>
<link rel="stylesheet" href="../css/STYLES.CSS">
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inmobiliaria Bella vista</title>



</head>


<body>




    <header>
        <!--LOGO DE LA PAGINA, MENU DE NAVEGACIÓN, REDES SOCIALES-->
        <div class="img1">
            <a href="../index.html" class="img1"><img src=../Assets/Bella.jpg alt="Logo" class="img1"></a>
        </div>
        <div class="menunavegacion">
            <a class="inicio" href="../index.html">Inicio</a>
            <a class="navegacion" href=../index.html#contenedor>Propiedades</a>
            <a class="navegacion" href=../index.html#qsomos>Quienes somos </a>
            <a class="contacto" href=../index.html#contacto1>Contacto</a>
        </div>
        <div class="redessociales">
            <img src=../Assets/facebook.png alt="Facebook" style="width: 25px; height: 25px;" class="fb">
            <img src=../Assets/ig.png alt="Instagram" style="width: 25px; height: 25px;" class="fb">
            <img src=../Assets/x.png alt="X" style="width: 25px; height: 25px;" class="fb">
            <img src=../Assets/wsp.png alt="Whatsapp" style="width: 25px; height: 25px;" class="fb">
        </div>
    </header>
    
    <main>
        <div>
            <p class="textocontacto">
                No dudes en enviarnos tus comentarios, consultas, dudas o sugerencias. Nuestro equipo de
                profesionales te responderá a la brevedad.
            </p>
        </div>
    </div>
</section>
<section class="contenedorcontacto">
    <section>

        <form action="Contacto" class="contacto1" id="contacto1">
            <h2>Contactanos</h2>
            <div class="labels">
                <label for="Nombre">Nombre</label>
            </div>
            <input type="Nombre" pattern="(([A-z a-z-ñÑ-áéíóúÁÉÍÓÚ])\w+)\w+" placeholder="Ingrese su nombre"
                style="width: 300px;" class="cuadrocontacto">
            <div class="labels">
                <label for="Teléfono">Teléfono</label>
            </div>
            <input type="tel" pattern="([0-9])\w+" placeholder="Ingrese su teléfono" required="" id=""
                style="width: 300px;" class="cuadrocontacto">
            <div class="labels">
                <label for="email">Email</label>
            </div>
            <input type="email" pattern="([a-z-ñÑ@])\w+" placeholder="Ingrese su email" required="" name=""
                id="" style="width: 300px;" class="cuadrocontacto">
            <div class="labels">
                <label for="consulta">Consulta</label>
            </div>
            <textarea class=cuadrocontacto placeholder="Ingrese su consulta, duda o sugerencia" required=""
                data-default="" placeholder="" value="" name="" id=""
                style=" height: 200px; width: 300px;"></textarea>
            <br>
            <br><input type="submit" value="Enviar" class="cuadrocontacto"
                style="font-size: large; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(54, 54, 126);">
        </form>


    </section>
    <section class="mapa">
        <iframe class="mapa1"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.351535754793!2d-68.8404711!3d-32.8888727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e091a2a2ed1bf%3A0xb8ee5fe2b7148fcd!2s9%20de%20Julio%2C%20M5500%20Mendoza!5e0!3m2!1ses-419!2sar!4v1715512049943!5m2!1ses-419!2sar"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p class="debajomapa">Inmobiliaria Bella Vista <br>
            9 de Julio 1160 - Mendoza - Argentina <br>
            Teléfono / Whatsapp: 261-12345678 <br>
            E-Mail: inmobiliariabellavista@gmail.com

        </p>

    </section>

</section>



    </main>



    <footer class="footer">
        <!-- PIE DE PAGINA - SIMILAR A HEADER-->


        <div class="img2">
            <img src=../Assets/Bella2.jpg alt="Logo" class="img2">
        </div>
        <div class="textopie">
            <p class="navpie1">9 de Julio 1160 - Mendoza - Argentina <br>Teléfono / Whatsapp: 261-12345678 <br>E-Mail:
                inmobiliariabellavista@gmail.com </p>
        </div>
        <div class="navpiediv">
            <a class="navpie" href=../index.html>Inicio</a>
            <a class="navpieprop" href=../index.html#contenedor>Propiedades</a>
            <a class="navpieprop" href=../index.html#qsomos>Quienes somos </a>
            <a class="navpiecont" href=../index.html#contacto1>Contacto</a>
        </div>
        <div class="iconospie">
            <img src=../Assets/facebook.png alt="Facebook" style="width: 25px; height: 25px;" class="fb1">
            <img src=../Assets/ig.png alt="Instagram" style="width: 25px; height: 25px;" class="fb1">
            <img src=../Assets/x.png alt="X" style="width: 25px; height: 25px;" class="fb1">
            <img src=../Assets/wsp.png alt="Whatsapp" style="width: 25px; height: 25px;" class="fb1"> 
        </div>
    </footer>
</body>

</html>