<!DOCTYPE html>
<link rel="stylesheet" href="../css/STYLES.CSS">
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inmobiliaria Bella vista</title>



</head>


<body>




    <header>
        <!--LOGO DE LA PAGINA, MENU DE NAVEGACIÓN, REDES SOCIALES-->
        <div class="img1">
            <a href="../index.html" class="img1"><img src=../Assets/Bella.jpg alt="Logo" class="img1"></a>
        </div>
        <div class="menunavegacion">
            <a class="inicio" href="../index.html">Inicio</a>
            <a class="navegacion" href=../index.html#contenedor>Propiedades</a>
            <a class="navegacion" href=../index.html#qsomos>Quienes somos </a>
            <a class="contacto" href="contacto.html">Contacto</a>
        </div>
        <div class="redessociales">
            <img src=../Assets/facebook.png alt="Facebook" style="width: 25px; height: 25px;" class="fb">
            <img src=../Assets/ig.png alt="Instagram" style="width: 25px; height: 25px;" class="fb">
            <img src=../Assets/x.png alt="X" style="width: 25px; height: 25px;" class="fb">
            <img src=../Assets/wsp.png alt="Whatsapp" style="width: 25px; height: 25px;" class="fb">
        </div>
    </header>

    <main>
        <h2 class="titulosalquileres">LOTES</h2>
        <div>
            <div class="formularioalquileres">
                <form action="">
                    <div class="formalquileres">
                                        
                        <label for="Localidad" class="busquedaalquileres">Localidad</label>
                        <select id="localidadlotes" name="" class="selectoralquileres">
                            <option value=""></option>
                            <option value="Ciudad">Ciudad</option>
                            <option value="Godoy Cruz">Godoy Cruz</option>
                            <option value="Guaymallén">Guaymallén</option>
                            <option value="Las Heras">Las Heras</option>
                            <option value="Lujan de Cuyo">Lujan de Cuyo</option>
                            <option value="Maipú">Maipú</option>
                        </select>

                        <label for="Superficie" class="busquedaalquileres">Superficie</label>
                        <select id="superficie" name="" class="selectoralquileres">
                            <option value=""></option>
                            <option value="1">0 m2 a 499 m2</option>
                            <option value="2">500 m2 a 749 m2</option>
                            <option value="3">750 m2 a 999 m2</option>
                            <option value="4">1000 m2 o más</option>
                        </select>
                        <label for="Rango de precios" class="busquedaalquileres">Rango de precios</label>
                        <select name="" id="precio2" class="selectoralquileres">
                            <option value=""></option>
                            <option value="rango1">US$ 0 a US$ 9.999</option>
                            <option value="rango2">US$ 10.000 a US$ 14.999</option>
                            <option value="rango3">US$ 15.000 a US$ 19.999</option>
                            <option value="rango4">US$ 20.000 o más </option>

                        </select>
                        <div id="buscadores">
                            <button id="buscador2">Buscar</button><div>
                            <button id="limpiarFiltros">Limpiar Filtros</button>
                            </div>
                        </div>
                    </div>



                </form>
            </div>
        </div>
        <div id="listado2">
        </div>
        <script src="../js/ajax.js"></script>
        <script src="../js/filtrolotes.js"></script>
        <script>
            GetLotes();
            
            document.getElementById("buscador2").addEventListener("click",BuscarLotes);
        </script>


    </main>

    <footer class="footer">
        <!-- PIE DE PAGINA - SIMILAR A HEADER-->


        <div class="img2">
            <img src=../Assets/Bella2.jpg alt="Logo" class="img2">
        </div>
        <div class="textopie">
            <p class="navpie1">9 de Julio 1160 - Mendoza - Argentina <br>Teléfono / Whatsapp: 261-12345678 <br>E-Mail:
                inmobiliariabellavista@gmail.com </p>
        </div>
        <div class="navpiediv">
            <a class="navpie" href=../index.html>Inicio</a>
            <a class="navpieprop" href=../index.html#contenedor>Propiedades</a>
            <a class="navpieprop" href=../index.html#qsomos>Quienes somos </a>
            <a class="navpiecont" href="contacto.html">Contacto</a>
        </div>
        <div class="iconospie">
            <img src=../Assets/facebook.png alt="Facebook" style="width: 25px; height: 25px;" class="fb1">
            <img src=../Assets/ig.png alt="Instagram" style="width: 25px; height: 25px;" class="fb1">
            <img src=../Assets/x.png alt="X" style="width: 25px; height: 25px;" class="fb1">
            <img src=../Assets/wsp.png alt="Whatsapp" style="width: 25px; height: 25px;" class="fb1">
        </div>
    </footer>
 
</body>

</html>