<!DOCTYPE html>
<link rel="stylesheet" href="../css/STYLES.CSS">
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inmobiliaria Bella vista</title>



</head>


<body>




    <header>
        <!--LOGO DE LA PAGINA, MENU DE NAVEGACIÓN, REDES SOCIALES-->
        <img src=../Imagenes/Bella.jpg alt="Logo" class="img1">
        <a class="inicio" href="../index.html">Inicio</a>
        <a class="navegacion" href=../index.html#contenedor>Propiedades</a>
        <a class="navegacion" href=../index.html#qsomos>Quienes somos </a>
        <a class="contacto" href=../index.html#contacto1>Contacto</a>
        <img src=../Imagenes/fb.png alt="Facebook" style="width: 25px; height: 25px;" class="fb">
        <img src=../Imagenes/ig.png alt="Instagram" style="width: 25px; height: 25px;" class="fb">
        <img src=../Imagenes/x.png alt="X" style="width: 20px; height: 25px;" class="fb">
        <img src=../Imagenes/wsp.png alt="Whatsapp" style="width: 25px; height: 25px;" class="fb">
    </header>

    <main>



    </main>
    <footer>
        <!-- PIE DE PAGINA - SIMILAR A HEADER-->



        <img src=../Imagenes/Bella2.jpg alt="Logo" class="img2">
        <p class="navpie1">9 de Julio 1160 - Mendoza - Argentina <br>Teléfono / Whatsapp: 261-12345678 <br>E-Mail:
            inmobiliariabellavista@gmail.com </p>
        <a class="navpie" href=../index.html>Inicio</a>
        <a class="navpie" href=../index.html#contenedor>Propiedades</a>
        <a class="navpie" href=../index.html#qsomos>Quienes somos </a>
        <a class="navpie" href=../index.html#contacto1>Contacto</a>
        <img src=../Imagenes/fb.png alt="Facebook" style="width: 25px; height: 25px;" class="fb">
        <img src=../Imagenes/ig.png alt="Instagram" style="width: 25px; height: 25px;" class="fb">
        <img src=../Imagenes/x.png alt="X" style="width: 25px; height: 25px;" class="fb">
        <img src=../Imagenes/wsp.png alt="Whatsapp" style="width: 25px; height: 25px;" class="fb">

    </footer>
</body>

</html>