<!DOCTYPE html>
<link rel="stylesheet" href="../css/STYLES.CSS">
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <style>

    </style>


</head>


<body>

</body>



<header>
    <!--LOGO DE LA PAGINA, MENU DE NAVEGACIÓN, REDES SOCIALES-->
    <img src=../Imagenes/Bella.jpg alt="Logo" class="img1">
    <a class="navegacion" href="../index.html">Inicio</a>
    <a class="navegacion" href="./propiedades.html">Propiedades</a>
    <a class="navegacion" href="./qsomos.html">Quienes somos </a>
    <a class="navegacion" href="./contacto.html">Contacto</a>
    <img src=../Imagenes/fb.jpeg alt="Facebook" class="fb">
    <img src=../Imagenes/ig.jpeg alt="Instagram" class="fb">
    <img src=../Imagenes/x.png alt="X" class="fb">
    <img src=../Imagenes/yt.png alt="YouTube" class="fb">
</header>
<main>




</main>


<footer>
    <!-- PIE DE PAGINA - SIMILAR A HEADER-->



    <img src=../Imagenes/Bella2.jpg alt="Logo" class="img2">
    <a class="navpie" href="index.html">Inicio</a>
    <a class="navpie" href="propiedades.html">Propiedades</a>
    <a class="navpie" href="qsomos.html">Quienes somos </a>
    <a class="navpie" href="contacto.html">Contacto</a>
    <img src=../Imagenes/fb.jpeg alt="Facebook" class="fb">
    <img src=../Imagenes/ig.jpeg alt="Instagram" class="fb">
    <img src=../Imagenes/x.png alt="X" class="fb">
    <img src=../Imagenes/yt.png alt="YouTube" class="fb">

</footer>